@import url('sitewide.css');

.content-container{
    padding: 2.5em;
}

.page-navigation{
    display: block;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-color: gray;
    padding: 10px;
    width: 50vw;
    margin: auto;
}

.page-navigation-button{
    background-color: var(--table-dark-accent);
    font-family: var(--default-font);
    font-size: large;
    font-weight: bold;
    font-style: italic;
    padding: 10px;
    margin: 5px;
    border: none;
    color: white;
}

img{
    width: 50vw;
    height: 50vh;
}

a {
    color: black;
    text-decoration: underline;
}