
@import url('sitewide.css');


.icon {
    max-width: 50px;
    max-height: 50px;
}
.navbar{
    display: block;
    font-size: large;
    font-family: var(--default-font);
    font-style: oblique;
    margin: 0;
    padding: .5em;
    color: black;
}

.nav-item{
    display: inline;
    color: black;
    padding: 1em;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: var(--table-header-colour);
}